*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #333333;
}
body{
    background-color:#919191;
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p3/2243022-vector-zebra-skin-seamless-pattern-black-and-white-zebra-fur-texture-vetor.jpg);
    background-blend-mode:color-dodge;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    height: 100vh;
}
main{
    display: flex;
}
.contCabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.logo{
width: 15%;
}
.menu a{
    list-style: none;
    text-decoration: none;
    color: #333333;
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
}
.menu a:hover{
    color: black;
}

.produtos ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 20px;
    max-width: 100%;
}
.produtos ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    max-width: 28%;
    margin-right: 10px;
    margin-bottom: 20px;
    border: 4px solid transparent;
    padding: 13px;
    background-color: white;
    border-radius: 10px;
}
.produtos ul li:hover{
    border: 4px solid #2E245E;
    background-color:#d6d6d6;
    border-radius: 10px;
}
.cardImg{
    width: 100%;
}
.cardTag{
    color: white;
    background-color: #2E245E;
    padding: 10px;
}
.cardNome{
    font-weight: bold;
    font-size: 24px;
    color: #333333;
}
.cardPreco{
    color: #37268C;
    font-weight: bold;
}
.cardAdd{
    font-weight: bold;
}
.cardAdd:hover{
    color: #37268C;
    cursor: pointer;
    text-decoration: underline;
}

#lateral{
    background-color: white;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 20px;
}
.containerPesquisa{
    display: flex;
}
.pesquisa{
    border: 3px solid #2E245E;
    padding: 10px;
}
.btnPesquisa{
    padding: 10px;
    border: 0px;
    background-color: #2E245E;
    color: white;
    cursor: pointer;
}

.txtCarrinho{
    color: white;
    background-color: #2E245E;
    padding: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 24px;
    border-radius: 10px;
}


.prodDuplicado{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 20px;
    max-width: 100%;
}
.prodDuplicado li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
    max-width: 20%;
    margin-bottom: 20px;
    border: 4px solid transparent;
    padding: 13px;
}
.cardDupImg{
    width: 100%;
}

.txtDentro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 50%;
}
h1{
    font-weight: bold;
}
h2{
    margin-top: 5px;
    font-size: 20px;
    font-weight: lighter;
}
.infDiv{
    color:white;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 32px;
    margin-top: 20%;
}
.infDiv span{
    color: white;
}
.quant{
    display: flex;
    justify-content: space-between;
}
.preco{
    display: flex;
    justify-content: space-between;
}
